<p> Hello, {{username}}! </p>
<br />
<p>
  You requested a change of your password, and here it is. Use it to enter your
  account and change it as soon as possible.
  <br />
  If you didn't request a password change, someone has probably guessed the
  email address you use with your account. Consider changing it.
  <br />
  <strong>Your new password: </strong> {{code}}
</p>
<br />
<p>
  Bye!
</p>